.content{
    font-family: 'poppins', sans-serif;
}

.communityContent{
    overflow: visible;
}

.contentBarTitle{
    margin-top: 4vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contentPosts{
    padding: 0.5vw;
    background-color: #161476;
    border-radius: 10px;
    margin-left: 1vw;
}

.divRow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5vh;
    margin-bottom: -3vh;
}

.row{
    width: 500px;
    padding: 2px;
    background-color: #3936eb;
    opacity: 50%;
    border-radius: 5px;
}

.contentMembersAndAddPost{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentMembersIntoComum{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.contentMembersIntoComum img{
    border-radius: 9999px;
}

.contentMembersIntoComum p{
    margin-left: 15px;
}

.contentBodyPosts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.contentMostsLikes{
    background-color: #333333;
    width: 30vw;
    min-height: 60vh;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
    color: #fff;
}

.contentTitleMostLikes{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentBar{
    height: 5px;
    background-color: #161476;
}

.contentPostsMostsLikes{
    margin-top: 30px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.postsMostsLikes{
    background-color:red;
    width: 18vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.postsMostsLikes img{
    border-radius: 999999px;
}

.contentInfoPost{
    margin-left: 1vw;
}

