.imgBackground{
    width: 99vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE81FE;
    border-radius: 0 0 12px 12px;
}

.imgBackground img{
    height: 15vh;
}

.imgProfileUser{
    height: 14vh;
    width: 70vw;
    display: flex;
    margin-left: 4vw;
}


.imgProfileUser img{
    height: 10vh;   
    width: 7vw;
    border-radius: 999999px;
}

.contentUser{
    margin-top: 2vh;
    margin-left: 1vw;
}

.contentUser h3{
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 200%;
}

.contentUser p {
    color: #fff;
}

.description{
    color: #fff;
    margin-top: 1vh;
    width: 60vw;
    height: 10vh;
    padding: 5px;
    border-radius: 10px;
    background-color: #151515;
}

.bar{
    margin-top: 14vh;
    border: 1px solid #161476;
}

.finalGeral{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.communitiesUser{
    background-color: #363636;
    margin-top: -10vh;
    height: 40vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    font-family: 'poppins', sans-serif;
}

.communitiesUser h3{
    margin-top: 2vh;
}

.communitiesPerson{
    margin-top: 8vh;
}

.communitiesPerson p{
    cursor: pointer;
    transition: 0.2s;
    margin-top: 1vh;
}

.communitiesPerson p:hover{
    color: #3936EB;
}

.spacingbar{
    width: 32vw;
    height:40vh;
    margin-top: -4vh;
    overflow-y: scroll;
}

.socialMedias{
    background-color: #363636;
    margin-top: -10vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-family: 'poppins', sans-serif;
}

.socialMedias h3{
    transition: 0.2s;
    cursor: pointer;
}

.socialMedias h3:hover{
    color: #3936EB;
}

.descriptionProfile{
    width: 30vw;
    margin: 5px 0;
    background-color: #161476;
    padding: 1vh;
    word-wrap: break-word;
    color: #fff;
    font-family: 'poppins', sans-serif;
    border-radius: 12px;
}

.descriptionProfile h3 a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.descriptionProfile h3 a:hover{
    color: rgb(81, 79, 212);
}

.optionsBar{
    height: 7vh;
    width: 95vw;
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.optionsBar h4{
    font-size: 150%;
    color: #fff;
}

.optionsBar .contentOption{
    margin-top: -5vh;
    height: 8vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.optionsBar .contentOption:hover{
    background-color: #161476;
}

.noLogin{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 25px;
}

.config{
    display: flex;
}

.config p {
    margin-left: 10px;
    cursor: pointer;
}