.imgBackground{
    width: 99vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE81FE;
    border-radius: 0 0 12px 12px;
}

.imgBackground img{
    height: 15vh;
}

.imgProfileUser{
    height: 14vh;
    width: 70vw;
    display: flex;
    margin-left: 4vw;
}


.imgProfileUser img{
    height: 10vh;   
    width: 7vw;
    border-radius: 100%;
}

.contentUser{
    margin-top: 2vh;
    margin-left: 1vw;
}

.contentUser h3{
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 200%;
}

.contentUser p {
    color: #fff;
}

.description{
    color: #fff;
    margin-top: 1vh;
    width: 60vw;
    height: 10vh;
    padding: 5px;
    border-radius: 10px;
    background-color: #151515;
}

.bar{
    margin-top: 14vh;
    border: 1px solid #161476;
    margin-bottom: 12vh;
}

.finalGeral{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.communitiesArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'poppins', sans-serif;
    margin-top: -30vh;
}

.communitiesArea h3{
    margin-bottom: 1vh;
}

.communitiesUser{
    background-color: #363636;
    width: 15vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.communitiesPerson p{
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.communitiesPerson p:hover{
    opacity: 0.8;
}

.projectsArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'poppins', sans-serif;
    margin-top: -5.5vh;
}

.projectsArea h3{
    margin-bottom: 50px;
}

.spacingbar{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 35vh;
    margin-top: -4vh;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.spacingbar::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #3d3d3d;
}

.spacingbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

.spacingbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3936EB;
}

.socialMediasArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;    
    margin-top: -30vh;
    font-family: 'poppins', sans-serif;
}

.socialMediasArea h3{
    margin-bottom: 1vh;
}

.socialMedias{
    background-color: #363636;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.socialMedias p{
    transition: 0.2s;
    cursor: pointer;
}

.socialMedias p:hover{
    opacity: 0.8;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.descriptionProfile{
    width: 20vw;
    margin: 5px 50px;
    background-color: #161476;
    padding: 1vh;
    color: #fff;
    font-family: 'poppins', sans-serif;
    border-radius: 12px;
}

.descriptionProfile p a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.descriptionProfile:hover{
    cursor: pointer;
    opacity: 0.8;
}

.optionsBar{
    height: 7vh;
    width: 95vw;
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.optionsBar h4{
    font-size: 150%;
    color: #fff;
}

.optionsBar .contentOption{
    margin-top: -5vh;
    height: 8vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.optionsBar .contentOption:hover{
    background-color: #161476;
}

.noLogin{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 25px;
}

.config{
    display: flex;
}

.config p {
    margin-left: 10px;
    cursor: pointer;
}