@keyframes change{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.contentGeral{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'poppins', sans-serif;
}

.astroBallon{
    margin-right: -15vw;
    width: 30vw;
}

.loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #460BA1;
}

.contentForms form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 120%;
    color: #fff;
}

.contentForms form input[type="text"]{
    margin: 2vh 0;
    width: 25vw;
    height: 5vh;
    font-size: 65%;
    border-radius: 10px;
    border: none;
    outline: none;
    animation-name: change;
    animation-duration: 0.4s;
    font-family: 'poppins', sans-serif;
}

.contentForms form select{
    width: 25vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    animation-name: change;
    animation-duration: 0.4s;
    font-family: 'poppins', sans-serif;
}

.contentForms form input:focus::placeholder{
    color: #fff;
}

.contentForms form h3{
    margin:10px 0;
}

.contentComum{
    margin-bottom:10px;
}

.contentForms form p{
    font-size: 80%;
    animation-name: change;
    animation-duration: 0.5s;
}

.contentForms form a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

.buttonSubmit{
    margin: 2vh 0;
    width: 15vw;
    height: 5vh;
    font-size: 65%;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    animation-name: change;
    animation-duration: 0.6s;
    font-family: 'poppins', sans-serif;
}

.termsAndConditionsArea label{
    margin-left: 10px;
}

.buttonSubmit:hover{
    color: #fff;
    background-color: #6b10f5;
}

.contentForms form input:focus{
    border: 1.5px solid #ba8efb;
}