.contentCommunity{
    height: 10vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contentCommunityOptions{
    height: 50vh;
    width: 98vw;
}

.contentCommunityOptions h2{
    margin-left: 2vw;
    color: #fff;
}

.frameworks{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
}

.contentOption{
    width: 10vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    padding: 1vw;
    margin: 0 1vw;
    border-radius: 10px;
    background-color: #16147691;
    cursor: pointer;
    transition: 0.2s;
}

.contentOption:hover{
    background-color: #09083b;
}