@keyframes openModal {
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.contentGeral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 93vh;
    z-index: 9999;

}

.bckgdForms{
    position: absolute;
    width: 100vw;
    height: 93vh;
    z-index: 1;
    background-color: #000;
    opacity: 70%;
    cursor: pointer;
}

.forms{
    animation: openModal 0.5s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 100%;
    width: 16vw;
    height: 65vh;
    border: 2px solid #3936EB;
    border-radius: 20px;
    background-color: #363636;
}

.editImg{
    margin-bottom: 20px;
}

.forms form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.forms form input{
    height: 30px;
    width: 180px;
    margin-bottom: 8px;
    background-color: rgb(24, 24, 24);
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.forms form select{
    margin-bottom: 8px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;  
    border: none;
    padding: 3px;
    color: #fff; 
}

.forms form button{
    height: 35px;
    width: 90px;
    font-size: 18px;
    background-color: #3936EB;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 4px;
}

.forms form button:hover{
    transform: scale(1.1);
}

.modalActivity{
    padding: 5px;
    background-color: #ff0008;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4px;
    transition: 0.2s;
}

.modalActivity:hover{
    transform: scale(1.1);
}

.buttons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}