@keyframes openModal {
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.contentGeral{
    position: absolute;
    width: 100vw;
    height: 93vh;
    z-index: 9999;
    background-color: black;
    opacity: 70%;
    color: #fff;
}

.contentForms{
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: openModal;
    animation-duration: 0.5s;
}

.contentForms form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 120%;
    color: #fff;
}

.contentForms form input{
    height: 30px;
    width: 180px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.contentForms form button{
    height: 30px;
    width: 100px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.contentForms form button:hover{
    background-color: #12107c;
    color: #fff;
}

.modalActivity{
    margin-top: 10px;
    padding: 5px;
    background-color: #FF393F;
    border-radius: 5px;
    cursor: pointer;
}

