.contentGeral{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    margin-bottom: 3vh;
}

.content{
    color: #fff;
    background-color: #333333;
    width: 50vw;
    border-radius: 10px;
}

.content p{
    padding: 20px;
}

.userSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.userImageAndName{
    display: flex;
    margin-left: 1vw;
    padding: 5px;
}

.userImageAndName img{
    border-radius: 9999px;
}

.userImageAndName h4 {
    margin-left: 1vw;
}

.contentIcons{
    display: flex;
    margin-right: 3vw;
    margin-bottom: 1vh;
}

.icon{
    height: 1.3vh;
    width: 1.3vw;
    margin-left: 2vw;
}