@keyframes change{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.box{
    height: 15vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background-color: #622bb4;
    animation-name: change;
    animation-duration: 0.5s;
    margin-top: 5vh;
    margin-left: 8vw;
    margin-right: -8vw;
}

.imgProfile img{
    height: 10vh;
    width: 5vw;
    border-radius: 100%;
    margin-left: 1vw;
}

.information{
    height: 15vh;
    width: 15vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

.infoLocalAndDev{
    display: flex;
}

.infoLocalAndDev h4{
    margin-right: 0.2vw;
}

.match{
    background-color: #fff;
    height: 4vh;
    width: 5vw;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 1vw;
    cursor: pointer;
    transition: 0.2s;
}

.match:hover{
    color: #fff;
    background-color: #2c0568;
}

@media (max-width: 1050px){
    .information{
        font-size: 80%;
    }

    .match{
        font-size: 80%;
    }

    .imgProfile img{
        height: 8vh;
        width: 5vw;
    }
} 


@media (max-width: 860px){
    .information{
        font-size: 70%;
    }

    .match{
        font-size: 70%;
    }

    .imgProfile img{
        height: 6vh;
        width: 6vw;
    }
}

@media (max-width: 770px){
    .match{
        font-size: 60%;
    }
}

@media (max-width: 690px){
    .information{
        font-size: 60%;
    }
}