.searchContent{
    height: 93vh;
    width: 100vw;
}

.boxInput {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxInput input {
    height: 5vh;
    width: 25vw;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 2vh;
}

.profilesContent{
    height: 83vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
}  

.contentInputContent{
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxChangeSearchContent{
    width: 8vw;
    height: 4vh;
    background-color: blue;
    margin-right: 30vw;
    margin-left: -25vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
    cursor: pointer;
}