.contentGeral{
    box-shadow: inset 0px 0px 20px 20px black;
    margin-top: -5em;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-image: url('https://www.filterforge.com/filters/1760.jpg');
    background-size: cover;
    animation: spin 60s infinite linear;
    cursor: pointer;
    transition: .2s;
    opacity: 0.8;
}

@keyframes spin{
    0%{
        transform: rotateX(70deg) rotate(360deg);
    }

    100%{
        transform: rotateX(70deg) rotate(0deg);
    }
}


.contentGeral:hover{
    width: 500px;
    height: 500px;
    opacity: 1;
}