.leftbarcontent {
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    color: #fff;
    border-radius: 0 10px 10px 0;
    font-family: "poppins", sans-serif;
}

.titletab {
    height: 6vh;
    width: 13vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.titletab:hover {
    background-color: #09083b;
} 

.title{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search{
    display: flex;
}

.search input{
    height: 5vh;
    width: 18vw;
    border: none;
    outline: none;
    color: #fff;
    background-color: #444444;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
}

.iconSearch{
    height: 4.4vh;
    width: 2vw;
}

.iconstab{
    height: 7vh;
    width: 40vw;
    margin-left: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.iconstab h3{
    cursor: pointer;
    transition: 0.2s;
}

.iconstab h3:hover{
    color: #12107c;
}

.usertab{
    height: 7vh;
    width: 13vw;
}

.user{
    height: 7vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
}

.user h5{
    font-size: 100%;
    margin-right: -2vw;
}

.user img{
    border-radius: 15px;
}

.user:hover{
    background-color: #13117c;
}









